
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap);
body {
background-color: #f4f5f6;
}

footer {
	display: flex;
	margin-top: 30px;
	padding: 30px;
}

.wrapper {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 1312px;
	overflow: hidden;
	position: relative;
	width: 100vw;
}

.remove-padding-margin-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

sup.degree-sign::before {
	color: #fff;
	content: '\00b0';
}

.mobile_logo_container{
  height: auto;
	width: 15rem;
  max-height: 100%;
	object-fit: contain;
}

.top-header {
	background-color: #f81d09;
	color: #fff;

}

.desktop-wrapper {
  height: 13rem;
}

ul {
  list-style-type: none;
}

.logo-container {
	height: auto;
	width: 100rem;
}

.subscribe-link {
	background-color: #fff;
	color: #f72210;
	padding: .3rem .5rem;
}

.subscribe-link:hover {
	background-color: #fff;
	color: #f72210;
}

.remove-text-decoration {
	color: #fff;
	text-decoration: none;
}

.medium-wrapper {
  background-color: red;
}

.navigation {
	border-bottom: solid 2px #f4f5f6;
}

.navigation li input[type='text'] {
	border: none;
	font-weight: lighter;
	margin-left: 10px;
	width: 60px;
}

.navigation ul::before {
	background-color: #f72210;
	border-left: 12px solid #FFF;
	border-top: 13px solid #f72210;
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.navigation-bar {
	height: 50px;
	line-height: 45px;
	margin: 0;
	max-width: 90%;
	padding: 0 0 0 12px;
}

.navigation-bar li a {
	font-weight: 700;
	padding: 3px 0;
	text-align: center;
}

.navigation-bar ul {
	align-content: flex-start;
	display: flex;
	justify-content: space-between;
}

.navigation-bar li {
	list-style: none;
}

.navlink {
  color: #000;
}

.navigation .row li a {
	margin-left: 0;
	padding-left: 0;
}






.footer-links a {
	border-right: 1px solid #d9d9d9;
	color: #666;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 21px;
	padding: 0 10px;
	text-decoration: none;
	white-space: nowrap;
}

.footer-copyright>p {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
}

.footer-logo>svg {
	fill: #f72210;
	height: 36px;
	width: 236px;
}

.logo-container {
	height: auto;
	width: 50rem;
}

.footer-social>i {
	color: grey;
	margin-right: 8px;
}

.footer-head {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 10px;
}

.footer-links {
	margin-top: 10px;
}

.footer-general-links {
	flex-wrap: wrap;
}

.footer-copyright, .footer-social {
	align-items: flex-end;
}

.remove-text-decoration,
.bold-font:hover {
  font-weight: bold;
	text-decoration: none;
}

.signin-subscribe {
  font-weight: bold;
}


@media screen and max-width 575px {
	.hide-on-mobile {
		display: none;
	}

}
