@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap);
body {
	background-color: #f4f5f6;
}

footer {
	display: flex;
	margin-top: 30px;
	padding: 30px;
}

.wrapper {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 1312px;
	overflow: hidden;
	position: relative;
	width: 100vw;
}

.remove-padding-margin-style {
	list-style: none;
	margin: 0;
	padding: 0;
}

sup.degree-sign::before {
	color: #fff;
	content: '\00b0';
}

.mobile_logo_container {
	height: auto;
	width: 15rem;
	max-height: 100%;
	object-fit: contain;
}

.top-header {
	background-color: #f81d09;
	color: #fff;
}

.desktop-wrapper {
	height: 11.5rem;
}

ul {
	list-style-type: none;
}

.logo-container {
	height: auto;
	width: 100rem;
}

.subscribe-link {
	background-color: #fff;
	color: #f72210;
	padding: .3rem .5rem;
}

.subscribe-link:hover {
	background-color: #fff;
	color: #f72210;
}

.remove-text-decoration {
	color: #fff;
	text-decoration: none;
}

.medium-wrapper {
	background-color: red;
}

.navigation {
	border-bottom: solid 2px #f4f5f6;
}

.navigation li input[type='text'] {
	border: none;
	font-weight: lighter;
	margin-left: 10px;
	width: 60px;
}

.navigation ul::before {
	background-color: #f72210;
	border-left: 12px solid #FFF;
	border-top: 13px solid #f72210;
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.navigation-bar {
	background-color: white;
	height: 50px;
	line-height: 45px;
	margin: 0;
	max-width: 94%;
	padding: 0 0 0 2px;
	margin-top: 4.2%;
}

.navigation-bar li a {
	font-weight: 700;
	padding: 3px 0;
	text-align: center;
}

.navigation-bar ul {
	align-content: flex-start;
	display: flex;
	justify-content: space-between;
}

.navigation-bar li {
	list-style: none;
}

.navlink {
	color: #000;
}

.navigation .row li a {
	margin-left: 0;
	padding-left: 0;
}

.latest_news_container1 {
	padding-right: 3%;
}

.ad_core {
	background-color: #D3D3D3;
}

.heroes_title,
.featured_stories_container2 a,
.culture_and_travel_container a,
.more_stories_container_text a,
.top_story_container_text a,
.the_debate_img a,
.latest_news_container2 p a,
.side_story_text a,
.ad_core_container_3 p,
.the_debate_text a,
.in_the_magazine_container_text,
.editors_pick_container2 a,
.article_container_content a {
	color: black;
	font-weight: bold;
}

.feature_tag {
	display: flex;
}

.article_container_title,
.feature_tag a {
	color: red;
	font-weight: bold;
}

.feature_tag p {
	color: white;
	background-color: red;
	font-weight: bold;
}

.feature_tag a {
	padding-left: 3%;
}

.opinion_containers {
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 10px;
}

.opinion-article-link {
	color: #000;
	display: block;
	font-weight: 600;
}

.opinion-article-link:hover {
	color: #f81d09;
	text-decoration: none;
}

.opinion_container_txt a {
	color: #000;
	font-weight: 700;
}

.opinion-author {
	font-weight: 600;
}

.byline {
	margin-top: 2.7rem;
}

.byline::before {
	content: "";
	display: block;
	background-color: #d9d9d9;
	height: 1px;
	width: 100%;
	margin-bottom: 1px;
}

.byline::after {
	content: "";
	display: block;
	background-color: #d9d9d9;
	height: 1px;
	width: 100%;
}

.the_debate_author {
	justify-content: space-between;
}

.the_debate_author p {
	font-size: 14px;
}

.the_debate_author img {
	height: 63px;
	width: 63px;
}

.dot {
	align-self: center;
	background-color: #000;
	border-radius: 50%;
	color: #FFF;
	display: inline-block;
	height: 25px;
	margin-bottom: 0%;
	margin-left: 46%;
	margin-top: 0%;
	width: 25px;
	bottom: 12px;
}

.red_line_debate {
	border-top: 4px solid red;
}

.blue_line_debate {
	border-top: 4px solid blue;
}

.dot p {
	padding-left: 3px;
	padding-top: 1px;
}

.footer-links a {
	border-right: 1px solid #d9d9d9;
	color: #666;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 21px;
	padding: 0 10px;
	text-decoration: none;
	white-space: nowrap;
}

.footer-copyright>p {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
}

.footer-logo>svg {
	fill: #f72210;
	height: 36px;
	width: 236px;
}

.ad_core_container_img {
	width: 29px;
	height: 29px;
}

.ad_core_text {
	font-size: 15px;
	font-weight: bold;
}

.signin_btn_ad {
	max-width: 40%;
}

.logo-container {
	height: auto;
	width: 50rem;
}

..ad_bottom_container {
	background-color: grey;
}

.ad_bottom_container1 {
	font-size: 12px;
	font-weight: 700;
}

.ad_bottom_container2 img {
	height: 208px;
	width: 190px;
}

.ad_bottom_text p {
	font-size: 12px;
}

.ad_img_bottom2 {
	width: auto;
}

.footer-social>i {
	color: grey;
	margin-right: 8px;
}

.footer-head {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 10px;
}

.footer-links {
	margin-top: 10px;
}

.footer-general-links {
	flex-wrap: wrap;
}

.footer-copyright,
.footer-social {
	align-items: flex-end;
}

.remove-text-decoration,
.bold-font:hover {
	font-weight: bold;
	text-decoration: none;
}

.signin-subscribe {
	font-weight: bold;
}

@media screen and max-width 575px {
	.hide-on-mobile {
		display: none;
	}
}
